<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HTML5サンプル</title>
    </head>
    <body>
        <h1> HOLLOW FLASK</h1>
        <p>HTML5で作成しました！</p>
        <li> HTML1 </li>
        <li> HTML2 </li>
        <li> HTML3 </li>
        <li> HTML4 </li>
        <li> HTML5 </li>
        <a href="https://www.google.com/search?q=%E7%8C%AB&sxsrf=ALeKk00rAkbfFJx5zzQcBgdQKU0rBWhL3Q:1600587202733&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjxgZr9m_frAhWXdXAKHW2SBwUQ_AUoAnoECBkQBA&biw=1440&bih=821"> 
        牛
        </a>

    </body>
</html>

<!-- タグ説明 -->
<!-- h1: 見出し(Heading) -->
<!-- p: 段落(Paragraph) -->
<!-- li: 箇条書き -->
<!-- h1: 見出し -->
<!-- h1: 見出し -->
<!-- h1: 見出し -->